<div class="container-fluid">
    <form>
  <div class="row bg-dark">
   
    <div class="col-3 text-light">
      {{logo}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 alignment">
      <div class="card">
        <div class="card-header">
          Create Post:
        </div>
        
        <div class="card-body">
        <textarea name="postValue" [(ngModel)]="post.postValue" class='form-control' cols="100" rows="2" placeholder="Write Somethoing here..."></textarea>
        </div>
        
        <div class="card-footer">
          <a  (click)="postText()" class="btn btn-primary">Post Text</a>
          <label  class="btn btn-info">
            Post Image
            <input (change)="postImage($event)" type="file" style="display:none">
          </label>
         
          <label  class="btn btn-success">
              Post Video
              <input (change)="postVideo($event)" type="file" style="display:none">
            </label>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
  
  <!--Main section container-->
  
  <div class="row main-container">
    
       <div class="col-md-3">
             
       </div>
  <!--Main section for block-->
  
       <div class="col-md-6">
         <ng-container *ngFor="let item of postList; let itemIndex=index;">
         <!--text section-->
          <div class="card  main-section" *ngIf="item.postType=='TEXT'">
            <div class="card-hearder h4">
              Text-Block
            </div>
            <div class="card-body main-body">
              <div class="main-child1" style="height:auto;padding:20px;">
                {{item.postValue}}
              </div>
              <div class="main-child2 text-muted">
                <span class="bg-light">{{item.likeCount}} like</span>
                <span  class="bg-light">{{item.subscribeCount}} Subscriber</span>
                <span  class="bg-light">{{item.commentList.length}} comments</span>
              </div>
            </div>
            <div class="card-footer main-footer">
              <div>
              <a (click)="likeCount(item)" class="btn btn-primary">Like</a>
              <a class="btn btn-info" (click)=" subsciberCount(item)">Subscribe</a>
              <a class="btn btn-success"  (click)=" addcomment(item)">Comment</a>
     
                  <a class="btn btn-danger" (click)="deletePost(itemIndex)">Delete</a>
              </div>
            </div>
          </div>
          <!--image section-->
          <div class="card  main-section" *ngIf="item.postType=='IMAGE'">
              <div class="card-hearder h4">
                Iamge-Block
              </div>
              <div class="card-body main-body">
                <div class="main-child1" style="height:250px">
                  <img [src]="item.postValue" style="height:100%;width:100%;object-fit:contain;padding:10px;">
                </div>
                <div class="main-child2 text-muted">
                  <span class="bg-light">{{item.likeCount}} like</span>
                  <span  class="bg-light">{{item.subscribeCount}} Subscriber</span>
                  <span  class="bg-light">{{item.commentList.length}} comments</span>
                </div>
              </div>
              <div class="card-footer main-footer ">
                <div>
                  <a (click)="likeCount(item)" class="btn btn-primary">Like</a>
                  <a class="btn btn-info" (click)=" subsciberCount(item)">Subscribe</a>
                  <a class="btn btn-success"  (click)=" addcomment(item)">Comment</a>
                
              
                   
                    <a class="btn btn-danger" (click)="deletePost(itemIndex)">Delete</a>
                </div>
              </div>
            </div>
            <!--video section-->
         <div class="card  main-section" *ngIf="item.postType=='VIDEO'">
                <div class="card-hearder h4">
                  Video-Block
                </div>
                <div class="card-body main-body">
                  <div class="main-child1" style="height:250px">
                   <video style="height:100%;width:100%;">
                     <source [src]="item.postValue" controls>
                   </video>
                  </div>
                  <div class="main-child2 text-muted">
                    <span class="bg-light">{{item.likeCount}} like</span>
                  <span  class="bg-light">{{item.subscribeCount}} Subscriber</span>
                  <span  class="bg-light">{{item.commentList.length}} comments</span>
                  </div>
                </div>
                <div class="card-footer main-footer ">
                  <div>
                    <a (click)="likeCount(item)" class="btn btn-primary">Like</a>
                    <a class="btn btn-info" (click)=" subsciberCount(item)">Subscribe</a>
                    <a class="btn btn-success"  (click)=" addcomment(item)">Comment</a>
                  
                
                     
                      <a class="btn btn-danger" (click)="deletePost(itemIndex)">Delete</a>
                  </div>
                </div>
              </div>
              </ng-container>
              <!--No post Available-->
              <div class="card  main-section"  *ngIf='postList.length==0'>
                  <div class="card-hearder h4">
                    Header
                  </div>
                  <div class="card-body main-body">
                    <div class="main-child1" style="height:auto">
                     No post Is Available
                    </div>
                    
                  </div>
                  <div class="card-footer main-footer ">
                    Footer
                </div>
              
      </div>
      
      <div class="col-md-3">
     
      </div>
      
  </div>
</div>
</form>
</div>
